#svg_map_figure1 {
    display: block;
    margin: 0 auto;
}

#map_slider_figure1 {
    display: block;
    margin: 0 auto;
}

.rounded-border {
    border: 1.5px solid var(--light-brown-color);
    border-radius: 25px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 12px;
    /* width: fit-content; */
    width: min-content;
}

.right-div {
    float: left;
    margin-left: 15px;
    /* flex-direction: row; */
}
.columns {
    display: grid;
    grid-template-columns: 20% 20%;
    padding: auto;
  }
.home_icon {
    position: relative;
    width: 40px;
    height: 25px;
    border: 0;
    margin-left: 5px;
    margin-top: 8px;
    background: #FFCC05 no-repeat 12px 4px;
    outline: none; /* remove the default focus border */
  }

  
  .home_icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; /* adjust the position of the triangle */
    border-top: 12.5px solid transparent;
    border-right: 10px solid #FFCC05; /* adjust the color of the triangle */
    border-bottom: 12.5px solid transparent;
  }

.home_icon:hover::before {
    border-right-color: #000; /* change the color of the right triangle on hover */
  }
  .home_icon:hover {
    background: green no-repeat 12px 4px;
  }

h2 {
  font-size: 2rem;
  font-family: "Darumadrop One", cursive;
}

#section_figure1 {
  background-color: #F2EFEB;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

#section_figure1 h2 {
  font-size: 3rem;
  font-family: "Darumadrop One", cursive;
  margin: 10px 0px 20px 0px;
    text-align: center;
}

.fig1-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  margin-left: 100px;
}

.fig1-vis {
  width: 800px;
  height: 570px;
  margin-left: 30px;
  margin-top: 20px;
  overflow: hidden;
  /* height: 800px; */
  /* display: flex;
  justify-content: center; */
}