.columns {
  display: grid;
  grid-template-columns: 20% 20%;
  padding: auto;
}

.fig1-info h2 {
  font-size: 2rem;
  font-family: "Darumadrop One", cursive;
  color: #592D22;
}

#section_figure1 {
  background-color: #F2EFEB;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

#section_figure1 h2 {
  font-family: "Darumadrop One", cursive;
  margin: 10px 0px 20px 0px;
  text-align: left;
}

.fig1-info {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
  margin-left: 50px;
  font-size: 1rem;
}

.fig1-vis {
  width: 60vw;
  height: 39.5vw;
  margin-left: 50px;
  overflow: hidden;
}

#fig1-containter {
  margin-top: 20px;
}

.fig1-info h4 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  font-weight: bold;
}