#section_figure4 {
    background-color: #F2EFEB;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_figure4 h2 {
  font-size: 3rem;
  font-family: "Darumadrop One", cursive;
  margin: 10px 0px 20px 0px;
    text-align: center;
}

#coffee-food-pairing-info h2 {
  font-size: 2.5rem;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: "Darumadrop One", cursive;
    color: #592D22;
    margin: 0px 10px 10px 0px;
    text-align: left;
}

.description {
    margin: 10px 50px 0 50px;
}

.fig4-info-table {
    height: auto;
    width: 28vw;
    border: 2px solid #5ac0f7;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #F7F6F3;
    overflow: hidden;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px #ccc;
    padding: 0px;
}

#coffee-food-pairing-info h3 {
  font-size: 35px;
  font-family:'Darumadrop One', cursive;
  color: #fff;
  background-color: #5ac0f7;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height:50px;
}

#coffee-food-pairing-info h4 {
  font-size:16px;
  margin-top:20px;
  margin-bottom: 2px;
  font-weight: bold;
}

#coffee-food-pairing-info {
    margin-left: -50px;
    width: 30vw;
}

.info-description {
    font-size:15px;
    margin:10px 30px 0 30px;
    text-align: center;
}

.item-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(50px, 80px));
    grid-template-rows: 60px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    box-sizing: inherit;
    grid-gap: 0px;
}
  
.item-container div {
    padding: 0 16px 0 16px;
    font-size: 0.7rem;
    text-rendering: optimizeLegibility;
    text-size-adjust: 90%;
    font-weight: 400;
    line-height: 1;
    font-family: "Poppins";
    box-sizing: inherit;
}

#typical-flavor .flavor-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  height:10px;
}

#food-title {
  margin-bottom: 10px;
}

.flavor-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flavor-icon img {
    max-width: 60px;
    width: 80%;
    height: auto;
}

.food-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-icon img {
  max-width: 60px;
  width: 80%;
  height: auto;
}

/* Test */
.chordContainer path {
    fill-opacity: 0.7;
  }
  
  .groupsContainer path {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  
  .groupsContainer text {
    fill: #4c4c4c;
  }
  
  .label {
    font-family: Roboto;
    font-size: 1em;
    cursor: default;
  }
  
  .panel label {
    vertical-align: text-top;
  }
  
  .tooltip {
    white-space: pre;
    position: absolute;
    padding: 5px;
    margin-top: -20px;
    font: 1em sans-serif;
    background: black;
    pointer-events: none;
    color: white;
    border-radius: 2px;
    opacity: 0.85;
    z-index: 9999;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 10em;
    margin-left: 12px;
    margin-right: 12px;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #fafafa;
    border-radius: 1.3px;
    border: 0.4px solid #010101;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 15px 15px 15px rgba(94, 0, 0, 0), 0px 0px 15px rgba(120, 0, 0, 0);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 33px;
    background: #ff6666;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.55px;
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #fafafa;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #fafafa;
    border-radius: 1.3px;
    border: 0.4px solid #010101;
  }
  
  input[type="range"]::-moz-range-thumb {
    box-shadow: 15px 15px 15px rgba(94, 0, 0, 0), 0px 0px 15px rgba(120, 0, 0, 0);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 33px;
    background: #ff6666;
    cursor: pointer;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: #fafafa;
    border: 0.4px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: #fafafa;
    border: 0.4px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type="range"]::-ms-thumb {
    box-shadow: 15px 15px 15px rgba(94, 0, 0, 0), 0px 0px 15px rgba(120, 0, 0, 0);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 33px;
    background: #ff6666;
    cursor: pointer;
    height: 7.7px;
  }
  
  input[type="range"]:focus::-ms-fill-lower {
    background: #fafafa;
  }
  
  input[type="range"]:focus::-ms-fill-upper {
    background: #fafafa;
  }