#section_figure3 {
    font-family: "Poppins", sans-serif;
    background-color: #f2efeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_figure3 h2 {
    font-size: 2.5rem;
    font-family: "Darumadrop One", cursive;
    margin: 0 0 20px 0;
}

#viz3-figure {
    margin-left: 120px;
    font-size: 1.5rem;
    text-align: center;
}

#viz3-descrip {
    margin-left: 70px;
    width: 100%;
}

.fig3-button {
    display: inline-block;
    background-color: #f2efeb;
    padding: 1px 2px;
    margin: 5px;
    color: #333;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.55s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-family: "Darumadrop One", cursive;
}

.fig3-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    z-index: -1;
}

.fig3-button:hover {
    padding: 1px 15px 1px;
}

.fig3-button:hover::before {
    width: 300px;
    height: 300px;
}

#fig3-show-all {
    color: #3e3b38;
}

#fig3-show-all:hover {
    color: #f2efeb;
    background-color: #3e3b38;
}

#fig3-price {
    color: #ea4242;
}

#fig3-price:hover {
    color: #f2efeb;
    background-color: #ea4242;
}

#fig3-rating {
    color: #ff8e8e;
}

#fig3-rating:hover {
    color: #f2efeb;
    background-color: #ff8e8e;
}

#fig3-roast-type {
    color: #fdc62f;
}

#fig3-roast-type:hover {
    color: #f2efeb;
    background-color: #fdc62f;
}

#fig3-roast-level {
    color: #5ac0f7;
}

#fig3-roast-level:hover {
    color: #f2efeb;
    background-color: #5ac0f7;
}

.flicker-animation {
    background: linear-gradient(45deg, #bd3737, #e67474);
    color: #f2efeb !important;
    padding: 1px 15px 1px;
    animation: color-change 4s infinite alternate;
}

@keyframes color-change {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.fig3-info-table {
    height: auto;
    width: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #f7f6f3;
    overflow: hidden;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px #ccc;
    padding: 0px;
}

.product_img {
    width: 70%;
    margin-top: -10px;
}

.imgCom {
    position: absolute;
    z-index: 10;
    top: 160px;
    left: 60%;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    height: 80px !important;
    width: 80px !important;
    border: 1px solid #d3d3d3;
}

#fig3-title h3 {
    font-family: "Darumadrop One", cursive;
    font-size: 30px;
}

.parameter_item {
    font-family: "Avenir Next", "proxima", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    line-height: 24px;
    font-weight: 600;
}

.content_item {
    font-size: small;
    vertical-align: middle;
}

#fig3-flavor {
    width: 250px;
    word-wrap: break-word;
    white-space: normal;
}
