#section_figure2 {
    font-family: "Poppins", sans-serif;
    background-color: #F2EFEB !important;
    /* width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#section_figure2 h2 {
    margin: 50px 0 20px 0;
}
#section_figure2 .title {
  font-family: "Darumadrop One", cursive;
}
.selectpicker-container .dropdown-menu {
  max-height: 200px; /* Set a max height for the dropdown menu */
  overflow: hidden; /* Hide default browser scrolling */
  touch-action: pan-y; /* Enable touch action for vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable two-finger scrolling on iOS */
}
#fig2-brand-dropdown-content {
  max-height: 13em;
  overflow: auto;
}
.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
#fig2-brands {
    height: 400px;
    overflow: scroll;
}

.axis--y path {
  stroke: none;
}

.panel-heading{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


.side-panel {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

}

.rating-panel{
  overflow: hidden;
  padding: 10px;
}

.imgBorder {
    /* border: 1px solid #ebeced; */
    width: 45%;
    /* height: 40%; */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 120px;
    padding: 8px;
    /* background: #fff; */
}

.imgFlag  {
  position: absolute;
  z-index: 10;
  top: -8px;
  left: 36%;
  border-radius: 3px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  height: 15% !important;
  width: 25% !important;
  border: 1px solid #d3d3d3;
}
