#section_figure3 {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#viz3-container {
    display: flex;
    flex-direction: row;
}

#viz3-figure {
    width: 60%;
}

#viz3-descrip {
    width: 40%;
    padding: 10px;
}

.fig3-button {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 1px 2px;
    margin: 4px;
    color: #333;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.55s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fig3-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    z-index: -1;
}

.fig3-button:hover {
    color: #fff;
    background-color: #2ecc71;
    padding: 1px 15px 1px;
}

.fig3-button:hover::before {
    width: 300px;
    height: 300px;
}
