#section_figure3 {
    font-family: "Poppins", sans-serif;
}

#section_figure3 h2 {
    font-size: 3rem;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: "Playfair Display";
    margin: 50px 0 20px 0;
}

#viz3-container {
    display: flex;
    flex-direction: row;
}

#viz3-figure {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

#viz3-descrip {
    width: 40%;
    padding: 10px;
}

.fig3-button {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 1px 2px;
    margin: 4px;
    color: #333;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.55s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-family:'Darumadrop One', cursive;
}

.fig3-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    z-index: -1;
}

.fig3-button:hover {
    color: #fff;
    background-color: #2ecc71;
    padding: 1px 15px 1px;
}

.fig3-button:hover::before {
    width: 300px;
    height: 300px;
}

#fig3-show-all {
    color:#3E3B38;
}

#fig3-show-all:hover {
    color: #fff;
    background-color:#3E3B38;
}

#fig3-price {
    color: #ea4242;
}

#fig3-price:hover {
    color: #fff;
    background-color:#ea4242;
}

#fig3-flavor {
    color: #ff8e8e;
}

#fig3-flavor:hover {
    color: #fff;
    background-color:#ff8e8e;
}

#fig3-roast-type {
    color: #fdc62f;
}

#fig3-roast-type:hover {
    color: #fff;
    background-color:#fdc62f;
}

#fig3-brewing-method {
    color: #5ac0f7;
}

#fig3-brewing-method:hover {
    color: #fff;
    background-color:#5ac0f7;
}
