#intropage {
    font-family: "Poppins", sans-serif;
    background-color: #f2efeb !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intropage h2 {
    font-family: "Darumadrop One", cursive;
    color: #592d22;
    margin: 0 auto 20px;
    max-width: 70%;
}

#intropage img {
    display: block;
    margin: 0 auto;
    width: 60%;
}
#intropage p {
    color: #592d22;
    margin: 0 auto 20px;
    max-width: 70%;
}
