body {
    background-color: #FFFFFF;
}

#menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    top: 0;
    margin: 0;
    z-index: 9;
}

.menu-links {
    font: 18px Poppins;
    text-decoration: none;
    /* color: #D9B48F; */
    color: #FFFFFF;
    margin-right: 10px;
}

.topnav-right {
    float: right;
    padding: 15px;
    margin-right: 20px;
    margin-top: -3px;
}

#logo {
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
}


#logo_img {
    width: 30px;
    height: 25px;
}

/* Highlight text out  */
/* #menu.highlightTextOut a
  {
      color: rgba(255, 255, 255, 0.3); 
  } */

#menu.highlightTextOut a:before {
    position: absolute;
    color: #FFF;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.8s;
    transform: scale(0.8);
    opacity: 0;
}

#menu.highlightTextOut a:hover:before {
    transform: scale(1);
    opacity: 1;
}

#homepage {
    background: linear-gradient(to bottom, #FF9B9B, #FF6B6B, #FFCA3A, #81Ecec);
    
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#homepage h1 {
    font-size: 5rem;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Pacifico', cursive;
    margin: 0;
}
  
#homepage p {
    font-size: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    line-height: 1.5rem;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.arrows a {
    display: inline-block;
    font-size: 36px;
    margin: 0 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.arrows a:hover {
    opacity: 1;
}

.arrows a:last-child {
    margin-right: 0;
}

.arrows a:nth-child(1) {
    transform: translateY(-20px);
    animation: arrow-1 1s ease-in-out infinite;
}

@keyframes arrow-1 {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.arrow {
    color: #FFFFFF;
    transition: color 0.3s ease;

}
  
.arrow:hover {
    color: #FEF4EA;
}

#menu.dark a {
    background-color: black;
    color: black;
  }
  
#menu dark .menu-links:hover,
#menu a.dark .menu-links.active {
    color: #ffe0a6;
}

#color {
    color: #00B894,#55E6C1,#81Ecec, #F2F2F2, #FF6B6B, #FFEAA7, #FFC300,#74B9FF,#AED6F1, #81Ecec, #FF7675, #FFC300,#6C5CE7,#B2BEC3,#D8DEE9
}