:root {
    --dark-brown-color: #3E3B38;
    --light-brown-color: #EAC67A;
    --medium-brown-color: #A87D5D;
    --background-color: #F5F5F5;

    --dark-pink-color: #913939;
    --medium-pink-color: #FF6B6B;
    --light-pink-color: #FF9B9B;
    --medium-yellow-color: #FFCA3A;
    --light-blue-color: #81ECEC;
}
  
body {
    background-color: #F2EFEB;
    /* background-color: var(--background-color); */
    font-family: Poppins;
}

#menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    /* background-color: var(--light-pink-color); */
    top: 0;
    margin: 0;
    z-index: 9;
}

.menu-links {
    /* font: 18px Poppins; */
    text-decoration: none;
    /* color: #D9B48F; */
    font: 18px Avenir;
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
}

.topnav-right {
    float: right;
    padding: 15px;
    margin-right: 20px;
    margin-top: -3px;
}

#logo {
    margin-left: -740px;
    font-family: 'Avenir';
    font-size: 24px;
    line-height: 50px;
    color: #FFF;
    text-decoration: none;
}


#logo_img {
    width: 30px;
    height: 25px;
}

/* Highlight text out  */
/* #menu.highlightTextOut a
  {
      color: rgba(255, 255, 255, 0.3); 
  } */

#menu.highlightTextOut a:before {
    position: absolute;
    color: #FFF;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.8s;
    transform: scale(0.8);
    opacity: 0;
}

#menu.highlightTextOut a:hover:before {
    transform: scale(1);
    opacity: 1;
}

/* #homepage {
    background-color: #f1c40f;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

#homepage h1 {
    font-size: 6rem;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Pacifico', cursive;
    margin: 0;
}
  
#homepage p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 1.5rem;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.arrows a {
    display: inline-block;
    font-size: 36px;
    margin: 0 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.arrows a:hover {
    opacity: 1;
}

.arrows a:last-child {
    margin-right: 0;
}

.arrows a:nth-child(1) {
    transform: translateY(-20px);
    animation: arrow-1 1s ease-in-out infinite;
}

@keyframes arrow-1 {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.arrow {
    position: absolute;
    top: 50%;
	left: 50%;
    color: #FFFFFF;
    transition: color 0.3s ease;

}
  
.arrow:hover {
    color: #FEF4EA;
}